<!DOCTYPE html>
<html lang="en">
{% extends "menu.html" %}
<head>
    {% block basehead %}
        <meta charset="UTF-8">
        {% if title != None %}
            <title>{{ title }} - Liberty Edge</title>
        {% else %}
            <title>Liberty Edge</title>
        {% endif %}
        <link href="{{ url_for('static', filename='assets/icon.ico') }}" rel="icon" type="image/ico">
        <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block basebody %}
        {% for cat,msg in get_flashed_messages(True) %}
            <div class="flash {{ cat }}">{{ msg }}</div>
        {% endfor %}
    {% endblock %}
    {% block login %}
        <div class="User">
            {% if logined == True %}
                {{ username }}
            {% else %}
                <button onclick="window.location.href = '/login/'">Войти</button>
                <button onclick="window.location.href = '/registr/'">Зарегестрироватся</button>
            {% endif %}
        </div>
    {% endblock %}
    {% block body %}
    {% endblock %}
</body>
</html>